html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}
body {
  line-height: 1;
  font-family: Microsoft Yahei,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  user-select: none;
  background: #fff;
}
:focus {
    outline: 0
}
ol, ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
blockquote:before, blockquote:after, q:before, q:after {
    content: ""
}
blockquote, q {
    quotes: ""
}
input, textarea, button {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px
}
ul, li, a, i, span, input, button{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a:link, a:visited, a:hover, a:active{
  outline:none;
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input, select{
  /*IOS端*/
  background-color:transparent;
  border-color:transparent;
  /*andorid端*/
  -webkit-appearance: none;
}
/*屏蔽uc广告*/
iframe[id^="head__"] { display: none !important; }
iframe[id^="utp__"] { display: none !important; }
